@import '~vuetify/dist/vuetify.min.css';
@import 'variables';

/* ======== general */
/* == background == */
.bg-b {
    background-color: $c-black !important;
}
.bg-y {
    background-color: $c-yellow !important;
}

.bg-none {
    background-color: none !important;
}

/* == text == */ 
.text-y,
.text-w,
.text-b {
    font-family: Roboto, sans-serif;
}

.text-y {
    color: $c-yellow !important;    

}

.text-b {
    color: $c-black !important;    
}

.text-w {
    color: $c-white !important;    
}

.theme--light.v-card {
    border: 1px solid black !important;
}

.gap-20-top {
    margin-top: 20px !important;
}

.gap-50-top {
    margin-top: 50px !important;
}
.gap-50-bottom {
    margin-bottom: 50px !important;
}

/* intro parallax */
.parallax {
    height: 100vh !important;
}

.v-parallax__content {    
    background-color: $shadow-bg-color
}

.v-parallax__image {
    top: -40% !important;
    bottom: none !important;
}

#CustomizedCoaching .v-parallax__image {
    top: -20% !important;
    bottom: none !important;
}

/* navbar */ 
.navbar-light-mb,
.theme--dark.v-btn {
    color: $base-text-color !important;
}

.toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

/* buttons */
.bttn-bg-pink {
    background-color: #EF5240 !important;
    color: #000 !important;
}

/***************** PAGES ***************/
/* INTRO */
.intro-text {
    font-size: 70px;
    font-stretch: 100%;
    font-weight: bold;
    line-height: 80px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 430px) {
    .claim-btn-intro {
        font-size: 10px !important;
    }
}

/* YOUR OBJECTIVE */
.your-obj-layout, 
.card-list {
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
}

.bg-b > * {
        color: $c-yellow !important;    
}

.bg-y > * {
        color: $c-black !important;
}

/* CUSTOM COACHING */
.boxm {
    display: block;
}

@media (max-width: 600px) {
    #CustomizedCoaching {
        height: 100vh;
    }

    .boxm {
        text-align: center
    }

    .boxm .display-1 {
        font-size: 28px;
    }
}

@media (min-width: 601px) {
    #CustomizedCoaching {
        height: 100vh;
    }

    .boxm {        
        width:50%;
        text-align: right;
        margin-right: 100px;
    }
}  

/* lockYourTime */
#lockYourTime{
    height: 100vh;
    background-image: url('/images/IMG_20191015_050852.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
}

.bg-blue-opacity-low {
    height: 100vh;       
    background-color: rgba(6, 51, 96, 0.8);
}

@media (max-width: 600px) {
    #lockYourTime,
    .bg-blue-opacity-low{
        height: 110vh;
    }
}
#getFitStayConnected {
    height: 100vh;
} 

/* FOOTER */
// #footer {
//     height: 100vh;
// }

/* loader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $c-black;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid $c-yellow;
    animation: loader 2s infinite ease;
  }  

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $c-yellow;
    animation: loader-inner 2s infinite ease-in;
  }
  

  .loaded {
      transition: 0.5s;
      z-index: -1000;
      opacity: 0;
  }

  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }